# Firebase Configuration
VITE_FIREBASE_API_KEY=your-api-key-here
VITE_FIREBASE_AUTH_DOMAIN=ecotrack-7f805.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ecotrack-7f805
VITE_FIREBASE_STORAGE_BUCKET=ecotrack-7f805.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=866853150264
VITE_FIREBASE_APP_ID=1:866853150264:web:5d08d19925a6b65606d0cd
VITE_FIREBASE_MEASUREMENT_ID=G-CX6E6P3L2W
